<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
<ul>
    <li>
        <h2>Movistar Argentina</h2>-<h3>(years)</h3>
    </li>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, accusamus odit quod maxime voluptas ipsam mollitia ipsum, labore assumenda nemo quos rerum beatae, et iste quasi necessitatibus cum quo aperiam! 
    </p>
</ul>
<ul>
    <li>
        <h2>ROSARIOMIX.COM</h2>-<h3>(years)</h3>
    </li>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, accusamus odit quod maxime voluptas ipsam mollitia ipsum, labore assumenda nemo quos rerum beatae, et iste quasi necessitatibus cum quo aperiam! 
    </p>
</ul>
<ul>
    <li>
        <h2>Municipalidad de Rosario</h2>-<h3>(years)</h3>
    </li>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, accusamus odit quod maxime voluptas ipsam mollitia ipsum, labore assumenda nemo quos rerum beatae, et iste quasi necessitatibus cum quo aperiam! 
    </p>
</ul>
    </div>
</div>
