<div class="row">
    <h1>Hard and Soft Skill</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="75"
        [radius]="95"
        [showUnits]="false"
        [title]="'JAVASCRIPT'"
        [showSubtitle]="false"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#69F0AE'"
        [innerStrokeColor]="'#E8F5E9'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="65"
        [radius]="95"
        [showUnits]="false"
        [title]="'ANGULAR'"
        [showSubtitle]="false"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#69F0AE'"
        [innerStrokeColor]="'#E8F5E9'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="80"
        [radius]="95"
        [showUnits]="false"
        [title]="'CSS'"
        [showSubtitle]="false"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#69F0AE'"
        [innerStrokeColor]="'#E8F5E9'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="75"
        [radius]="95"
        [showUnits]="false"
        [title]="'MYQSL'"
        [showSubtitle]="false"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#69F0AE'"
        [innerStrokeColor]="'#E8F5E9'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="90"
        [radius]="95"
        [showUnits]="false"
        [title]="'COMUNICACION'"
        [showSubtitle]="false"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#69F0AE'"
        [innerStrokeColor]="'#E8F5E9'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="65"
        [radius]="95"
        [showUnits]="false"
        [title]="'INGLES'"
        [showSubtitle]="false"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#69F0AE'"
        [innerStrokeColor]="'#E8F5E9'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
</div>
</div>