<div class="row">
    <h1>Hard and Soft Skill</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [title]="'JAVASCRIPT'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#004477'"
        [innerStrokeColor]="'#004488'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [title]="'ANGULAR'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#004477'"
        [innerStrokeColor]="'#004488'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [title]="'CSS'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#004477'"
        [innerStrokeColor]="'#004488'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [title]="'COMUNICACION'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#004477'"
        [innerStrokeColor]="'#004488'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="75"
        [radius]="100"
        [showUnits]="false"
        [title]="'DINAMISMO'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#004477'"
        [innerStrokeColor]="'#004488'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="65"
        [radius]="100"
        [showUnits]="false"
        [title]="'INGLES'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#004477'"
        [innerStrokeColor]="'#004488'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
</div>
</div>