<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
<ul>
    <li>
        <h2>Esc. San Francisco de Asís</h2> - <h3>(years)</h3>
    </li>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, accusamus odit quod maxime voluptas ipsam mollitia ipsum, labore assumenda nemo quos rerum beatae, et iste quasi necessitatibus cum quo aperiam! 
    </p>
</ul>
<ul>
    <li>
        <h2>Centro Educativo Latinoamericano</h2> - <h3>(years)</h3>
    </li>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, accusamus odit quod maxime voluptas ipsam mollitia ipsum, labore assumenda nemo quos rerum beatae, et iste quasi necessitatibus cum quo aperiam! 
    </p>
</ul>
<ul>
    <li>
        <h2>Argentina Programa</h2> - <h3>(years)</h3>
    </li>
    <p>
        Actualmente cursando la segunda etapa (#YoProgramo)  
    </p>
</ul>
    </div>
</div>
