<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/profilePicture.jpg" 
            class="img-fluid" id="profilepic">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">David Romero Scozziero</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
           <span>
                <h1>Acerca de mí</h1>
                <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Officiis, fuga obcaecati 
                ipsum quibusdam eius numquam accusamus
                 eligendi sed ipsam totam doloribus modi,
                 voluptates exercitationem suscipit ea. 
                Minima id quibusdam voluptate!
                </p>
             </span>
        </div>
    </div>
