<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/profilePicture.jpg" 
            class="img-fluid" id="profilepic">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">{{persona.nombre}} {{persona.apellido}} </p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
           <span>
                <h1>Acerca de mí</h1>
                <p>Nacido en Rosario, provincia de Santa Fe. Actualmente
                    CEO del medio rosarino ROSARIOMIX.COM. Coordinador de Participación
                    Ciudadana en la Municipalidad de Rosario. Fanático de Apple y Fórmula 1.
                </p>
             </span>
        </div>
    </div>
