.row{
    padding: 20px;
}
div{
    background-color: #aecded;
    text-align: center;
}

#nombre{
    font-weight: bold;
    margin-top: 10%;
    margin-left: 10px;
}

@media(min-width: 576px){
    #profilepic{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3x 3x 3x grey;
        left: 3%;
        top: 650px;
    }
}
