
    
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #000000"
            >
     
      <div class="container p-4 pb-0">
        
        <section class="">
          
          <div class="row">
            
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                Acerca de mí
              </h6>
              <p>
                Nacido en Rosario, provincia de Santa Fe. Actualmente CEO del medio rosarino ROSARIOMIX.COM. Coordinador de Participación Ciudadana en la Municipalidad de Rosario. Cursando #YoProgramo de Argentina Programa.
              </p>
            </div>
            
  
            <hr class="w-100 clearfix d-md-none" />
  
            
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Escaneame</h6>
              <p>
                <a class="text-white">Whatsapp</a>
              </p>
                <div class="qr">
                <img src="../../../assets/qrcode_34532266_.png" id="qr">
              </div>
            </div>
            
            
            <hr class="w-100 clearfix d-md-none" />
  
            
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
              <p><i class="fas fa-home mr-3"></i> Rosario, SF 2000, AR</p>
              <p><i class="fas fa-envelope mr-3"></i> davidfromeroscozziero@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 54 9 341 7212147</p>
            </div>
            
  
            
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Seguime</h6>
              <div class="redes">
              <a href="https://twitter.com/davidrscozziero"><img src="../../../assets/twitter.png" id="twitter"></a>
              <a href="https://ar.linkedin.com/in/david-romero-scozziero-60865924"><img src="../../../assets/linkedin.png" id="linkedin"></a>
              <a href="https://www.instagram.com/davidrscozziero/?hl=es-la"><img src="../../../assets/instagram.png" alt="instagram"></a>
            </div>
            </div>
          </div>
          
        </section>
        
      </div>
     
  
     
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2022 Copyright:
        <a class="text-white" href="/"
           >David Romero Scozziero</a
          >
      </div>
      
    </footer>
    